@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: p;
  src: url(../public/assets/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}
@font-face {
  font-family: h1;
  src: url(../public/assets/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf);
}
body {
  font-family: p;
  color: #fff;
  font-size: 16px;
}

p {
  font-family: p;
  font-size: 16px;
}

h1 {
  font-family: h1;
  font-size: 24px;
}

button .arrow {
  transition: 0.2s;
}

button:hover .arrow {
  transform: translateX(5px);
}

input {
  font-family: p;
}

a {
  text-decoration: underline;
}

.arrowMiddle {
  width: 0px;
  height: 2px;
  background-color: #fff;
  margin-right: -10px;
  transition: 0.2s;
  overflow: hidden;
  margin-left: 16px;
}

button:hover .arrowMiddle {
  width: 16px;
  margin-left: 0;
}

.arrowSide {
  rotate: 90deg;
}

.binary {
  background-image: url(../public/assets/images/binary.png);
  background-repeat: repeat;
  background-size: cover;
  opacity: 5%;
  position: absolute;
  top: 0;
  bottom: -800px;
  left: 50vw;
  right: 0;
}

.mirror {
  transform: scaleX(-1);
}

.demoBg {
  background: linear-gradient(transparent, #18181b);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid #ffffff2c;
  transform: perspective(1000px) rotateY(-3deg); /* Apply perspective */
  transition: transform 0.3s ease; /* Add a transition for smooth animation */
  box-shadow: 0 10px 20px #00000038;
}

.loginAccentBackground {
  background-color: #4f46e5;
  background: radial-gradient(at 0 0, #4f46e5, #5a2cc6);
}

.demoBg:hover {
  transform: perspective(1000px) rotateY(0deg); /* Remove the perspective effect on hover */
}

.graphPaper {
  background-image: linear-gradient(#ffffff06 1px, transparent 1px),
    linear-gradient(90deg, #ffffff06 1px, transparent 1px);
  background-size: 40px 40px;
  
}


.graphPaperWhite {
  background-image: linear-gradient(#e5e7eb65 1px, transparent 1px),
    linear-gradient(90deg, #e5e7eb65 1px, transparent 1px);
  background-size: repeat; /* Adjust the size of grid squares */
}

.meshGradient {
  width: 800px;
  height: 400px;
  position: absolute;
  left: calc(50vw - 200px);
  top: 0px;
  background: radial-gradient(#4f46e5, transparent 60%);
  opacity: 0.2;
}

.meshGradient2 {
  width: 800px;
  height: 600px;
  position: absolute;
  left: calc(50vw - 50px);
  top: 50px;
  background: radial-gradient(#4f46e5, transparent 60%);
  opacity: 0.2;
}

.meshGradient3 {
  width: 800px;
  height: 600px;
  position: absolute;
  left: -280px;
  top: 50px;
  background: radial-gradient(#4f46e5, transparent 70%);
  opacity: 0.2;
}

@media (max-width: 1000px) {
  .hideElement {
    display: none;
  }
}

/* LOADER */

.lds-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.xterm-viewport::-webkit-scrollbar {
  background: transparent;
}
